{% extends "base.html" %}
{% block content %}
<h1>{% block title %}Stock Information Page{% endblock %}</h1>

<table class="table table-hover">
<!--    <thead>-->
<!--        <tr>-->
<!--            <th scope="col" style="width: 15%">Meal</th>-->
<!--            <th scope="col" style="width: 15%">Calories</th>-->
<!--            <th scope="col" style="width: 15%">Protein</th>-->
<!--            <th scope="col" style="width: 15%">Carbs</th>-->
<!--            <th scope="col" style="width: 15%">Fat</th>-->
<!--            <th scope="col" style="width: 15%"></th>-->
<!--            <th scope="col" style="width: 5%"></th>-->
<!--        </tr>-->
<!--    </thead>-->
    <tbody>
        {% for bar in bars %}
            <tr>
                <td>{{ bar }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}